/* B A C K G R O U N D   C O L O R S  */
.bg-is-dkgrn {
  background-color: #26220d;
}

.bg-is-grn {
  background-color: #6e7349;
}

.bg-is-y {
  background-color: #d9bc2b;
}

.bg-is-tan {
  background-color: #d9b166;
}

.bg-is-org {
  background-color: #bf6b04;
}

.bg-is-rd {
  background-color: #8c3503;
}

.bg-is-dkrd {
  background-color: #591202;
}

.round-corners {
  border-radius: 25px;
}

/* - - - F O N T  - - - F O N T - - - F O N T - - - F O N T - - - F O N T - - - F O N T - - -  */
.ft-is-dkgrn {
  color: #26220d;
}

.ft-is-grn {
  color: #6e7349;
}

.ft-is-y {
  color: #d9bc2b;
}

.ft-is-tan {
  color: #d9b166;
}

.ft-is-org {
  color: #bf6b04;
}

.ft-is-rd {
  color: #8c3503;
}

.ft-is-dkrd {
  color: #591202;
}

.ft-is-w {
  color: #ffffff;
}

/* F O N T   S I Z E - - - F O N T   S I Z E */
.is-size-xl {
  font-size: 4rem;
}

/* F O N T   S T Y L E S */
.header-font {
  font-family: "Covered By Your Grace", cursive;
}

/* I C O N S   A N D   P H O T O S */

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}

.width-80 {
  width: 80%;
}

.text-wrap {
  float: left;
  margin: 5px;
}

/* O T H E R - - - O T H E R - - - O T H E R */
.border {
}
.pad10 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pad20 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.pad50 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.margins10 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.margins20 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.height-50 {
  height: 50%;
}

.height-40 {
  height: 40%;
}

.height-30 {
  height: 30%;
}

.veiw-height-30 {
  height: 30vh;
}

.veiw-width-50 {
  height: 50vw;
}
.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.inner-shadow {
  box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/* makes V I D E O S responsive */
.video {
  aspect-ratio: 16/9;
  width: 640px;
  height: 360px;
}

/* - - - M E D I A   Q U E R E Y - - - M E D I A   Q U E R E Y - - - */

@media screen and (max-width: 600px) {
  .mq-center-text {
    text-align: center;
  }
  .mq-pad50 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .video {
    aspect-ratio: 16/9;
    width: 100%;
  }

  .mq-no-flex {
    flex-wrap: wrap;
  }
}
